<div class="jumbotron">
    <h1>FUNÇÃO SISTEMAS</h1>
    <p class="lead">Avaliação para vaga Desenvolvedor .Net</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>O que foi proposto?</h2>
        <p>Sistema de manutenção dos dados básicos de clientes e beneficiários.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Na tela de cadastramento/alteração de clientes, incluir um novo campo denominado CPF, que permitirá o cadastramento do CPF do cliente.</p>

    </div>
    <div class="col-md-4">
        <h2>Beneficiários</h2>
        <p>Na tela de cadastramento/alteração de clientes, incluir um novo botão denominado Beneficiários, que permitirá o cadastramento de Beneficiários do cliente, o mesmo deve abrir um pop-up para inclusão do CPF e Nome do beneficiário, além disso deve existir um grid onde será exibido os beneficiários que já foram inclusos, no mesmo será possível realizar a manutenção dos beneficiários cadastrados, alteração e exclusão.</p>

    </div>
    </div>
</div>
